<div class="spinner-container" *ngIf="!data">
  <mat-spinner class="spinner"></mat-spinner>
</div>
<div class="container" *ngIf="data">
  <mat-grid-list  cols="5" rowHeight="1:2">
    <mat-grid-tile *ngFor="let item of data;">
      <mat-card class="example-card" [class.card-disabled]="item.inWishList && cardType === 'popular'">
        <span *ngIf="item.inWishList && cardType === 'popular'" class="added-title">Added to wishlist</span>
        <button *ngIf="cardType === 'popular'" mat-icon-button class="hover-icon" (click)="onClick(item)">
          <mat-icon>playlist_add</mat-icon>
        </button>
        <button *ngIf="cardType === 'wishlist'" mat-icon-button class="hover-icon" (click)="onClick(item)">
          <mat-icon >close</mat-icon>
        </button>
        <img class="card-image" mat-card-image src={{imageUrl}}{{item.poster_path}} alt="Poster photo">
        <mat-card-content *ngIf="genres">
          <div class="card-title">
            <h4 class="movie-name">{{item.original_title}}</h4>
          </div>
          <div class="genre-content">
            <a *ngFor="let genre of item.genreNames">{{genre}} </a>
          </div>
          <star-rating-comp class="star-rating"
                            [numOfStars]="10"
                            [labelText]="item.vote_average"
                            labelPosition="right"
                            [showHalfStars]="true"
                            [readOnly]="true"
                            [starType]="'svg'"
                            [size]="'medium'"
                            [rating]="item.vote_average"></star-rating-comp>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

