<div *ngIf="data">
  <mat-grid-list  cols="5" rowHeight="1:2">
    <mat-grid-tile *ngFor="let item of data">
      <mat-card  class="example-card">
        <img class="add-to-favorite" src="../../../assets/like.svg"/>
        <img mat-card-image src={{imageUrl}}{{item.poster_path}} alt="Poster photo">
        <mat-card-content *ngIf="genres">
          <h4 class="movie-name">{{item.original_title}}</h4>
          <div class="genre-content">
            <a *ngFor="let genre of item.genreNames">{{genre}} </a>
          </div>
          <star-rating-comp class="star-rating"
                            [numOfStars]="10"
                            [labelText]="item.vote_average"
                            labelPosition="right"
                            [showHalfStars]="true"
                            [readOnly]="true"
                            [starType]="'svg'"
                            [size]="'medium'"
                            [rating]="item.vote_average"></star-rating-comp>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

