.spinner-container {
  height: 100vh;
  position: relative;
}
.spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.movie-name {
  text-transform: uppercase;
  line-height: 1;
}
.example-card:hover {
  cursor: pointer;
  /*opacity: 0.5;*/
  filter: grayscale(10);
  transition: 500ms;
}
.added-title {
  z-index: 10;
  position: absolute;
  font-weight: bold;
  text-shadow: 0px 0px 2px #000;
  top: 10%;
  color: #fff;
  text-transform: uppercase;
  width: 30%;
}
.mat-card {
  margin: 5px;
  min-height: 500px;
  max-height: 510px;
  position: relative;
}
.card-image {
  max-height: 390px;
  min-height: 390px;
  min-width: 275px;
  margin-bottom: 5px;
}
.card-title {
  height: 50px;
}
.card-title h4 {
  display: inline-block;
  margin: 0;
}
.mat-card:hover .hover-icon {
  opacity: 1;
  transition: 600ms;
}
.card-disabled {
  pointer-events: none;
  filter: grayscale(10);
}
.hover-icon {
  opacity: 0;
  position: absolute;
  color: #fff;
  font-size: 48px;
  z-index: 100;
  top: 30px;
  right: 25px;
  width: 30px;
}
.add-icon {
  width: 30px;
  height: 30px;
}
.genre-content {
  height: 30px;
}
.star-rating {
  width: 30%;
}
.material-icons {
  text-shadow: 0px 0px 2px #000;
  font-size: 30px;
}
