.menu-card {
  width: 100px;
  float: left;
  min-height: 100vh;
  margin: 0;
  position: fixed;
}
.menu {
  /*width: 7%;*/
  /*min-width: 50px;*/
  /*float: left;*/
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}
.content {
  width: 90%;
  float: right;
}
.material-icons.md-48 { font-size: 48px; }
