<mat-form-field class="example-form-field">
  <input matInput type="text" placeholder="Search movie" [formControl]="search"/>
  <button mat-button *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div *ngIf="searchList">
  <app-movie-card [data]="searchList"
                  [imageUrl]="imageUrl"
                  [genres]="genres"
                  [cardType]="'popular'"
                  (selectedMovie)="addSelectedMovie($event)"></app-movie-card>
</div>
